body {
    background-color: pink;
}
div {
    color: darkslategrey;
}
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 31, 2022, 10:17:48 PM
    Author     : eva
*/

